<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myaccount"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myaccount.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.myaccount.activity.HomeActivity" />
		<activity android:name="com.example.myaccount.activity.MonthActivity"/>
		<activity android:name="com.example.myaccount.activity.NewOutputActivity"/>
		<activity android:name="com.example.myaccount.activity.NewInputActivity"/>
		<activity android:name="com.example.myaccount.activity.BudgetActivity"/>
		<activity android:name="com.example.myaccount.activity.DayActivity"/>
		<activity android:name="com.example.myaccount.activity.OutputModifyActivity"/>
		<activity android:name="com.example.myaccount.activity.InputModifyActivity"/>
		<activity android:name="com.example.myaccount.activity.WeekExpandableListViewActivity"/>
		<activity android:name="com.example.myaccount.activity.MonthExpandableListViewActivity"/>
		<activity android:name="com.example.myaccount.activity.YearExpandableListViewActivity"/>
    </application>

</manifest>
